/* Sidebar styles */
.sidebar {
  -fx-background-color: #f4f4f4;
  -fx-padding: 20px;
  -fx-spacing: 15px;
}

.sidebar-label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.sidebar-button {
  -fx-font-size: 16px;
  -fx-padding: 10px 20px;
  -fx-pref-width: 200px;
  -fx-background-color: #e7e7e7;
  -fx-border-color: #c4c4c4;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-text-fill: black;
}

.sidebar-button:hover {
  -fx-background-color: #dadada;
}

.logout-button {
  -fx-border-color: transparent;
  -fx-background-color: #e74c3c; /* Red background */
  -fx-text-fill: white;
}

.logout-button:hover {
  -fx-background-color: #c0392b; /* Darker red on hover */
}
